/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/



/************************************************/
/*    positionnement de text btn.. Hero Headers */
/************************************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}



/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .175;
}

/********************************/
/*          Custom Buttons      */
/********************************/
/*.btn.btn-m,
.btn.btn-s,
.btn.btn-i{
    padding: 10px 40px;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
    border-radius:10px;
}
*/
/********************************/
/*       Slides backgrounds     */
/********************************/

.fade-carousel .slides .slide-1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url(log2.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}
/***********************3boutons dans la page bienvenue*********/
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 13px;
    text-align: center;
    /* background: #333 url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png');/* notre image*/
}

ul {
    margin: 30px auto;/*alignement*/
    text-align: center;
}

li {
    margin: 10px;
    list-style: none;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 60px;
}

@-moz-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    padding-top: 16px;
    text-decoration: none;
    text-align: center;
    font-size: 23px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);/*.7*/
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;/*300*/
    z-index: 1;
    border-width: 5px;
    border-style: solid;
}

.round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    padding-top: 15px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

a.med {
    /*background-color: rgba(239,57,50,1);*/
    color: #31b0d5 /*rgba(133,32,28,1)*/;
    border-color: #31b0d5 /*rgba(133,32,28,.2)*/;
}

a.med:hover {
    color: #204d74 /*  rgba(239,57,50,1)*/;
}

a.inf {
    /*background-color: rgba(1,151,171,1);*/
    color: #31b0d5/*rgba(0,63,71,1)*/;
    border-color: #31b0d5/* rgba(0,63,71,.2)*/;
}

a.inf:hover {
    color: #204d74  /* #1b6d85 rgba(1,151,171,1)*/;
}


a.sec {
    /*background-color: rgba(252,227,1,1);*/
    color: #31b0d5 /*rgba(153,38,0,1)*/;
    border-color:#31b0d5 /*rgba(153,38,0,.2)*/;
}

a.sec:hover {
    color: #204d74  /*#1b6d85 rgba(252,227,1,1)*/;
}

/*l'ecriture se connecter*/
.round span.round {
    display: block;
    opacity: .0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}
/*l'effet transparent de la rotation*/
/*.round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}