table{
    border-collapse:collapse;
    border: double;
    float: inherit;
    width: 100%;
    margin-left: 223px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 29px;
}
td,tr{
    padding: inherit;
    border-bottom: 1px solid #ddd;
    vertical-align: text-top;
    align-content: center;

}
tr:hover {background-color: #f5f5f5}
tr:nth-child(even) {background-color: #f2f2f2}
/*th id="1" {
    background-color: #4CAF50;
    color: white;
}*/
button {
    padding-left: 7px;
    width: 150px;
    float: right;
    background-color:#46a049;
}